<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{ title + " | " + site.title if title else site.title }}</title>
    <meta name="description" content="{{ description or site.description }}">
    <link rel="stylesheet" href="{{ '/styles/base.css' |  url }}">
    <link rel="stylesheet" href="{{ '/styles/custom.css' |  url }}">
    {% block headAppend %}{% endblock %}
  </head>
  <body>
    {% include "components/header.njk" %}
    <main>
      {{ content | safe }}
    </main>
    {% include "components/footer.njk" %}
  </body>
</html>
