<!doctype html>
<html>
<head>
	<meta charset="utf-8">
	<meta http-equiv="refresh" content="0; url='{{ redirect.to | url }}'" />
</head>
<body>
	redirecting to <a href="{{ redirect.to | url }}">{{ redirect.to | url }}</a>
</body>
</html>
